
@{
    ViewBag.Title = "Accepted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Application Successful</h2>
<h4>Your Reference number is</h4>
<p>@ViewBag.ReferenceNumber</p>
<h4>Applicant Name</h4>
<p>@ViewBag.ApplicantName</p>

